<configuration>
  <system.data>
    <DbProviderFactories>
      <remove invariant="CSLibrary.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="CSLibrary.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="CSLibrary.Data.SQLite.SQLiteFactory, CSLibrary.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>
